*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Bungee', cursive;
}

header{
    position: fixed;
    z-index: 10;
    width: 100%;
}

.circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: white;
    float: right;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    margin: 30px 15px 0 15px;
}

section{
    position: relative;   
    height: 100vh;
}

#first-shoes{
    background-color: red;
}

#second-shoes{
    background-color: green;
}

#third-shoes{
    background-color: yellow;
}

section .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container h1{
    color: yellow;
    font-size: 50px;
    
}

.container .green{
    color: green;
}

